body {
    background-color: black;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-container img{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    transform: scaleX(-1);
}   

.header{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, 0.5);
    color: white;
    position: absolute;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
}

#header-text{

}

#why-join{
    width: 100%;
    height: 30%;
    bottom:0;
    background-color: #134985;
}

.containers{
    min-height: 50vh;
}
