body {
    background-color: black;
}
#bg-img {
    position: absolute;
}

#bg-img img{
    z-index: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    transform: scaleX(-1);
}   

.header{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.5);
    
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.containers{
    min-height: 50vh;
}
